@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:regular,500,600,700,800);
* {
  font-weight: 400;
  color: #1d4862;
  font-size: 1.125rem;
  font-family: "Red Hat Display";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.wrapper {
  padding: 4rem;
}

.calculator {
  display: flex;
  gap: 3rem;
}
.calculator .calc__body {
  width: 60%;
  background-color: #eef9ff;
  height: 100vh;
  border-radius: 2rem;
  padding: 3rem;
}
.calculator .calc__body .body__title {
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.calculator .calc__body .body__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.calculator .calc__body .body__content .component {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.calculator .calc__body .body__content .component h3 {
  font-weight: 500;
}
.calculator .calc__body .body__content .component .component__content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.calculator .calc__body .body__content .component .component__content .basis {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.calculator .calc__body .body__content .component .component__content .basis > * {
  font-size: 1rem;
}
.calculator .calc__body .body__content .component .component__content .basis select {
  border-radius: 3rem;
  padding: 0.25rem 0.75rem;
  background-color: #acdaf6;
}
.calculator .calc__body .body__content .component .component__content .basis select option {
  font-size: 0.75rem !important;
}
.calculator .calc__result {
  border-radius: 2rem;
  background-color: #081923;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
  padding: 3rem 0;
  gap: 2rem;
}
.calculator .calc__result h2 {
  color: #ffffff;
}
.calculator .calc__result .carc__result-value {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
}
.calculator .calc__result .value {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
}