@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Rubik:regular,500,700,900);
* {
  font-weight: 400;
  color: #1d4862;
  font-size: 1.125rem;
  font-family: "Rubik";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.wrapper {
  margin: auto;
  max-width: 71.25rem;
  position: relative;
}

.calculator {
  display: flex;
  gap: 1rem;
}
.calculator .calc__body {
  width: 60%;
  background-color: #eef9ff;
  border-radius: 2rem;
  padding: 2rem;
}
.calculator .calc__body .psu-field {
  width: 100%;
  text-align: left;
  padding-top: 2rem;
}
.calculator .calc__body .psu-field .psu-title {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  line-height: 100%;
  border-top: 1px solid #1d4862;
  font-weight: 700;
  margin-bottom: 1rem;
}
.calculator .calc__body .psu-field .psu-model {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}
.calculator .calc__body .body__title {
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-weight: 600;
  gap: 1rem;
  font-size: 1.75rem;
  margin-bottom: 3rem;
}
.calculator .calc__body .body__title .btn__reset {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #bedcef;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}
.calculator .calc__body .body__title .btn__reset:hover {
  filter: brightness(90%);
}
.calculator .calc__body .body__title .btn__reset img {
  width: 1rem;
  height: 1rem;
}
.calculator .calc__body .body__content {
  display: flex;
  flex-direction: column;
}
.calculator .calc__body .body__content .psu-button {
  margin-top: 2rem;
  background-color: #081923;
  color: #ffffff;
  padding: 0.75rem;
  transition: 0.5s;
  border-radius: 0.25rem;
}
.calculator .calc__body .body__content .psu-button:hover {
  background-color: #112a38;
}
.calculator .calc__body .body__content .component {
  padding: 0 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1.5rem;
}
.calculator .calc__body .body__content .component:not(:last-child) {
  border-bottom: 1px solid #bedcef;
}
.calculator .calc__body .body__content .component:not(:first-child) {
  padding-top: 1.5rem;
}
.calculator .calc__body .body__content .component h3 {
  font-weight: 500;
  font-size: 1.25rem;
}
.calculator .calc__body .body__content .component .component__content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.calculator .calc__body .body__content .component .component__content .basis {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}
.calculator .calc__body .body__content .component .component__content .basis.quantity {
  width: 4rem;
}
.calculator .calc__body .body__content .component .component__content .basis > * {
  font-size: 1rem;
}
.calculator .calc__body .body__content .component .component__content .basis select {
  border-radius: 0.25rem;
  transition: 0.2s;
  padding: 0.5rem 0.75rem;
  color: #426072;
  font-size: 1rem;
  width: 100%; /* Додаємо ширину для кращої адаптивності */
  -webkit-appearance: none; /* для Safari */
  -moz-appearance: none; /* для Firefox */
  appearance: none; /* для сучасних браузерів */
  padding-right: 30px; /* Робимо більше місце для кастомної стрілки */
  background: url("./images/arrow-down.png") no-repeat calc(100% - 1rem);
  background-color: #bedcef;
  background-size: 14px 14px; /* Налаштовуємо розмір стрілки */
}
.calculator .calc__body .body__content .component .component__content .basis select:hover {
  filter: brightness(90%);
}
.calculator .calc__body .body__content .component .component__content .basis select:focus {
  outline: none; /* Прибираємо стандартне підсвічування */
}
.calculator .calc__body .body__content .component .component__content .basis option {
  border: none !important;
  outline: none !important;
  font-size: 0.75rem !important;
}
.calculator .calc__result {
  position: sticky;
  top: 1rem;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: #081923;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
  padding: 2rem 1rem;
  gap: 0.5rem;
}
.calculator .calc__result h2 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.calculator .calc__result .calc__result-value {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
}
.calculator .calc__result .value {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  .calculator {
    flex-direction: column;
    padding: 0rem;
    padding-bottom: 9rem;
  }
  .calculator .calc__body {
    border-radius: 0px !important;
    width: 100%;
    padding: 1rem;
  }
  .calculator .calc__body .component {
    padding: 0 0rem 0 !important;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1.5rem !important;
  }
  .calculator .calc__body .component:not(:last-child) {
    border-bottom: 1px solid #bedcef;
  }
  .calculator .calc__body .component:not(:first-child) {
    padding-top: 1.5rem !important;
  }
  .calculator .calc__body .component h3 {
    font-weight: 500;
    font-size: 1.25rem;
  }
  .calculator .calc__body .component .component__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
  }
  .calculator .calc__body .component .component__content .basis {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }
  .calculator .calc__body .component .component__content .basis.quantity {
    width: 4rem;
  }
  .calculator .calc__body .component .component__content .basis > * {
    font-size: 1rem;
  }
  .calculator .calc__body .body__title {
    line-height: 100%;
    flex-direction: column;
    align-items: start;
  }
  .calculator .calc__result {
    position: fixed;
    top: calc(100% - 8.5rem);
    left: 0.5rem;
    width: calc(100% - 1rem);
    height: 8rem;
    border-radius: 2rem;
    background-color: #081923;
    gap: 0.5rem;
  }
  .calculator .calc__result .calc__result-value {
    font-size: 3rem;
  }
  .calculator .calc__result .value {
    font-size: 3rem;
  }
}