@import url(https://fonts.googleapis.com/css?family=Roboto:100,regular,600);

$clr-bg: #1a1a1a;
$clr-grey: #212121;
$clr-lgt: #e5e5e5;
$clr-red: #e35336;
* {
  font-weight: 400;
  color: #fff;
  font-size: 1rem;
  font-family: "Roboto";
}
._shell {
  max-width: 82.5rem;
  width: 100%;
  padding-left: 20px;
  margin: 0 auto;
  padding-right: 20px;
}
body {
  background-color: $clr-bg;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.wrapper {
  width: 100%;
  padding-top: 10rem;
  header {
    position: fixed;
    top: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    .header__content {
      box-shadow: 0px 1px 20px #1a1a1a78;
      // border-bottom: 1px solid #000;
      position: relative;
      width: 100%;
      border-radius: 4rem;
      padding: 10px 50px;
      height: 80px;
      margin: auto;
      background-color: $clr-red;
      color: $clr-lgt;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & .logo {
        font-size: 2rem;
      }
      .menu-btn {
        width: 27.4px;
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        display: none;
        .line {
          width: 100%;
          height: 3px;
          border-radius: 10px;
          border: 1px solid $clr-lgt;
          background-color: $clr-lgt;
          transform-origin: left;
          transition: 0.2s;
        }
        &.open {
          .line:nth-child(1) {
            transform: rotate(45deg);
          }
          .line:nth-child(2) {
            // transform: rotate(-45deg);
            opacity: 0;
          }
          .line:nth-child(3) {
            transform: rotate(-45deg);
          }
        }
      }
      & .menu {
        display: flex;
        gap: 20px;
        & > *:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .calc__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h1 {
      font-size: 2rem;
      color: $clr-red;
    }
    p {
      line-height: 22px;
    }
  }
  .footer {
    margin-top: 120px;
    padding: 1.5rem 0;
    background-color: $clr-grey;
    .footer__content {
      display: flex;
      gap: 1rem;
      .logo {
        width: 100%;
        font-size: 56px;
      }
      .container {
        padding: 1rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .row {
          display: flex;
          justify-content: space-between;
          .item-images {
            display: flex;
            gap: 1rem;
            img {
              width: 30px;
            }
          }
          .item {
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            h5 {
              color: $clr-red;
            }
            a {
            }
            img {
            }
          }
        }
      }
    }
  }
}
.calculator {
  display: flex;
  gap: clamp(1rem, 3vw, 3.75rem);
  width: 100%;
  margin-top: 60px;
  .calc__body {
    max-width: 47.5rem;
    width: 100%;
    background-color: $clr-grey;
    padding: 1.5rem;
    .body__title {
      justify-content: space-between;
      align-items: center;
      display: flex;
      gap: 1rem;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      .btn__reset {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        padding: 10px;
        background-color: $clr-red;
        cursor: pointer;
        transition: 0.2s;
        button {
          color: $clr-lgt;
          font-size: 14px !important;
        }
        &:hover {
          filter: brightness(90%);
        }
      }
    }
    .body__content {
      display: flex;
      width: 100%;
      flex-direction: column;
      .component {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 1.5rem;
        &:not(:last-child) {
          border-bottom: 1px solid $clr-bg;
        }
        &:not(:first-child) {
          padding-top: 1.5rem;
        }
        h3 {
          font-weight: 500;
          font-size: 1.25rem;
        }
        .component__content {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          .basis {
            display: flex;
            width: 100%;
            & > * {
              font-size: 1rem;
            }
            select {
              cursor: pointer;
              transition: 0.2s;
              padding: 0.75rem 1.25rem;
              color: $clr-bg;
              font-size: 1rem;
              font-weight: 100;
              width: 100%;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none; /* для сучасних браузерів */
              background: url("/images/Dropdown.svg") no-repeat
                calc(100% - 1rem);
              background-color: $clr-lgt;
              background-size: 14px 14px; /* Налаштовуємо розмір стрілки */
              &:hover {
                background-color: #c1c1c1;
              }
            }
            select:focus {
              outline: none; /* Прибираємо стандартне підсвічування */
            }
            option {
              background-color: $clr-bg;
              font-size: 0.75rem !important;
            }
          }
        }
      }
    }
  }
  aside {
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .calc__result {
      max-width: 460px;
      width: 100%;
      background-color: $clr-red;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2rem 12px;
      gap: 1rem;
      h2 {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #ffffff;
      }
      .calc__result-value {
        font-size: 4.5rem;
        color: #ffffff;
      }
      .value {
        font-size: 4.5rem;
        color: #ffffff;
      }
    }
    .top__picks {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h4 {
        padding: 8px 12px;
        background-color: $clr-red;
        color: $clr-lgt;
      }
      .item {
        display: flex;
        gap: 0.5rem;
        .image {
          border-radius: 0.25rem;
          max-width: 160px;
          width: 100%;
          overflow: hidden;
          height: 140px;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        .container {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          .name {
            font-size: 0.875rem;
          }
          .row {
            display: flex;
            .row__text {
              width: 100%;
              font-size: 0.875rem;
            }
          }
          a {
            margin-top: auto;
            padding: 8px 12px;
            background-color: $clr-red;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $clr-lgt;
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .calculator {
    flex-direction: column;
    padding: 0rem;
    .calc__body {
      max-width: none;
      border-radius: 0px !important;
      width: 100%;
      padding: 1rem;
      .component {
        padding: 0 0rem 0 !important;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 1.5rem !important;
        &:not(:last-child) {
        }
        &:not(:first-child) {
          padding-top: 1.5rem !important;
        }
        h3 {
          font-weight: 500;
          font-size: 1.25rem;
        }
        .component__content {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          gap: 1rem;
          .basis {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 0.5rem;
          }
        }
      }
      .body__title {
        line-height: 100%;
        flex-direction: column;
        align-items: start;
      }
    }
    aside {
      width: 100%;
      max-width: none !important;
      .calc__result {
        max-width: none;
        width: 100%;
        // height: 8rem;
        border-radius: 2.5rem;
        gap: 1rem;
        .calc__result-value {
          font-size: 3rem;
        }
        .value {
          font-size: 3rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    position: relative;
    header {
      // position: relative;
      .header__content {
        height: 64px !important;

        padding: 0px 30px !important;

        transition: 0.2s;
        &.open {
          // border-radius: 4rem 4rem 0 0 !important;
        }
        .menu-btn {
          display: flex !important;
          z-index: 99;
        }
        & .menu {
          box-shadow: 0px 1px 20px #1a1a1aa7;

          z-index: 98;
          border-radius: 2rem !important;
          padding: 30px 30px !important;
          opacity: 0;
          background-color: $clr-bg;
          position: absolute;
          top: 101%;
          left: 0;
          width: 100%;
          height: auto;
          pointer-events: none !important;
          transition: 0.2s;
          gap: 0 !important;
          flex-direction: column;
          & > * {
            padding: 10px;
            font-size: 1.25rem;
            text-align: right;
            border-bottom: 1px solid #313131;
          }
          &.open {
            pointer-events: all !important;
            opacity: 1;
          }
        }
      }
    }
    .footer {
      .footer__content {
        flex-direction: column;
        gap: 1rem;
        .logo {
          font-size: 2rem;
          line-height: 100%;
        }
        .container {
          padding: 1rem 0;
          width: 100%;
          gap: 2rem;
          display: flex;
          justify-content: space-between;
          flex-direction: column-reverse;
          .row {
            flex-direction: column;
            gap: 2rem;
            justify-content: space-between;
            .item-images {
              display: flex;
              gap: 1rem;
              img {
                width: 30px;
              }
            }
            .item {
              display: flex;
              gap: 0.5rem;
              flex-direction: column;
              h5 {
                color: $clr-red;
              }
              a {
              }
              img {
              }
            }
          }
        }
      }
    }
    .calculator {
      aside {
        .top__picks {
          display: flex;
          flex-direction: column;
          gap: 20px;
          h4 {
            padding: 8px 12px;
            background-color: $clr-red;
            color: $clr-lgt;
          }
          .item {
            gap: 0.5rem;
            width: 100%;
            .image {
              max-width: 110px;
              overflow: hidden;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
